@import url('https://fonts.googleapis.com/css2?family=Coustard&family=Play&display=swap');

body {
    background-color: #D4E4FE;
    font-family: "Play", sans-serif;
    color: black;
    text-align: center;
}

.text-left {
    text-align: left;
    padding-left: 5%;
}

#section1 ol {
    font-size: x-large;
}

.header {
    font-size: xxx-large;
}

.game-area {

    width: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    text-align: center;

}

.choice-area {
    
}

.buttons {
    border-radius: 50%;
    margin: 2%;
    
}

#messages {
    font-size: 50px;
}

.chosen-area1 {
    background-color: #FED5D6;
    width: 45%;
    float: left;
    border-radius: 25%;
    margin-top: 5%;
}

.chosen-area2 {
    background-color: #AEBEFE;
    width: 45%;
    float: right;
    border-radius: 25%;
    margin-top: 5%;
}

things to do:

change rules area photo and add the rules
change photos in chosen area
